*{
MARGIN:0PX;
PADDING:0PX;
BOX-SIZING:BORDER-BOX;
}

body{
background-color:black;
background-image:url('its-boss.jpg');
background-repeat:no-repeat;
background-position:right top;
}

H1{
FONT-SIZE:3VW;
COLOR:WHITE;
}
#MAIN-NAV{
COLOR:WHITE;
overflow:auto;
}
#bck-clr{
background-color:rgba(0,0,0,0.4);
width:100%;
height:500px;
float:left;
}
#MAIN-NAV>UL::AFTER{
CONTENT:" ";
DISPLAY:BLOCK;
CLEAR:LEFT;
}
DIV>UL{

LIST-STYLE-TYPE:NONE;
}
DIV>UL>LI{
FLOAT:LEFT;
}
DIV>UL>LI>A{

text-align:center;
display:inline-block;
padding:0px 8px;
line-height:60px;
WIDTH:150PX;
height:60px;
color:white;
background-color:black;
text-decoration:none;

}
DIV>UL>LI>A:HOVER{
BACKGROUND-COLOR:ORANGE;
COLOR:BLACK;
}
#ABOUT{
background-color:rgba(0,0,0,0.4);
PADDING-TOP:10VH;
PADDING-LEFT:6VW;
}
p{
color:white;
PADDING-TOP:5VH;
font-size:2vw;
}
.sub-btns{
font-size:2vw;
background-color:orange;
margin:1vh;
height:5vh;
width:20vw;
color:white;
line-height:5vh;
text-align:center;
margin-top:2vh;

}
.sub-btns:hover{
background-color:red;
}
#sb2{
margin-bottom:0px;
}